





header {
    background-color:black;
    color: white;
    text-align: center;
    padding:10px 0;
}


















.container{
    width:80%;
    margin:0 auto;
    overflow:hidden;
}









.search{
    float:right;
    line-height: 80%;
    position: relative;
}

.search input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

.search-button {
    padding: 6px 10px;
    background-color: #3498db; /* Color azul */
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Bordes redondeados en el lado derecho */
}

.search-button:hover {
    background-color: #2980b9; /* Color azul más oscuro al pasar el ratón */
}



















.contact {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog h2 {
    text-align: center;
}

.blog-entry {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor flex */
}

.blog-entry img {
    width: 400px; /* Establece el ancho de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.blog-entry h3 {
    margin-top: 0; /* Elimina el margen superior del título para que esté alineado */
}

.blog-entry p {
    margin-bottom: 10px;
}

.blog-entry a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.blog-entry a:hover {
    background-color: #2980b9;
}





